body{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: antiquewhite;
    width: 1200px;
    height: 1000px;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    padding : 0 10px;
    width: 100%;

}
.stickyTop{
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;

}
.dropdowns{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    
}
.my-name{
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    color:rgb(46, 46, 165);
}
.dropdown{
    display: flex;
    gap: 30px;
    padding: 10px 20px;
    border-radius: 6px;
}

/* .dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #ddd;
  padding: 20px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  display: none;
} */

.dropdown:hover {
    background-color: rgb(194, 194, 231);
  
  display: block;
}
